name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tox:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: '3.14', python: '3.14', tox: py314}
          - {name: '3.13', python: '3.13', tox: py313}
          - {name: '3.12', python: '3.12', tox: py312}
          - {name: '3.11', python: '3.11', tox: py311}
          - {name: '3.10', python: '3.10', tox: py310}
          - {name: 'format', python: '3.14', tox: format}
          - {name: 'mypy', python: '3.14', tox: mypy}
          - {name: 'pep8', python: '3.14', tox: pep8}
          - {name: 'package', python: '3.14', tox: package}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: update pip
        run: |
          pip install -U wheel
          pip install -U setuptools
          python -m pip install -U pip

      - run: pip install tox

      - run: tox -e ${{ matrix.tox }}
